PORT=8080
SALT=123
SECRET=ASDF
MONGO_DB_URL=""
JWT_SECRET=

# Cloudstorege Cred
CLOUDNARY_CLOUD_NAME=
CLOUDNARY_API_KEY=
CLOUDNARY_API_SECRET=



# SMTP APP Cred
GMAIL_SMTP_APP_EMAIL=
GMAIL_SMTP_APP_PASSWORD=